body {
  color: rgb(65,75,86);
  font-family: arial;
  margin: 0px;
}
div {
  min-height: 50vh;
  width: 100vw;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}
img {
  display: block;
  padding: 20px;
  margin: 0 auto;
  /* way of centering stuff on the page - asks the browser to do it for you*/
  border-radius: 130px;
  /* gives something a rounded corner - 130 pixels is a high value, higher the value, more rounded the corners until the thing is a circle */
}
p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}
a {
  /* a means all of the links */
  color: rgb(0,0,0);
}
ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
    /* allows us to say how we want list items to be laid out */
  justify-content: space-evenly;
    /* this says how we want the list items (children) inside of the ol (parent), to be laid out horizontally so they have an equal amount of space between them */
}
#lower {
  margin-top: 7%;
}
#lowest {
  margin-bottom: 14%;
}
div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul{
  list-style: none;
  display: flex;
}
li {
  margin: 20px;
  transition: 0.6 ease;
}
li:hover {
  font-size: 1.2em;
  transition: 0.6 ease;
}
